@media screen and (max-width:567px) {
    .d-none {
        display: none;
    }

    .logo {
        padding: 0;
        display: inline;
    }

    .mobile-logo {
        display: inline-block;
        width: 25px;
        padding-top: 30px;
        margin-bottom: 20px;
    }

    .sidebar {
        flex-basis: 50px;
        padding: 0;
        padding-left: 10px;

    }

    .navbar div {
        display: none;
        border-left: 2px solid #fff;
    }

    .navbar {
        margin-bottom: 600px;
    }

}