* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body {
    font-family: Montserrat;
}

section {
    padding: 20px;
}

a {
    text-decoration: none;
    color: grey;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.content {
    height: calc(100vh - 100px);
    display: flex;

}

.playlist {
    max-height: 300px;
    overflow: auto;

}

/* utils*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*header*/
header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;

    height: 80px;
    margin-bottom: 30px;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    color: #fff;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 30px;
}

/*sidebar*/
.sidebar {
    background-color: #000000;
    flex-basis: 300px;
    flex-shrink: 0;
    padding-left: 30px;
    padding-right: 30px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 0px;
    width: 100%;
}

.mobile-logo {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: column;

}

.navbar span {
    color: #fff;
    display: inline;
}

.navbar img {
    display: inline;
    width: 30px;
}

.navbar div {
    display: inline;
}

.playlist ul {
    color: #fff;
}

.playlist li {
    line-height: 40px;
    font-size: 0.9rem;
    color: grey;
}

.playlist {
    margin-bottom: 150px;
}

.sidebar h4 {
    margin-top: 20px;
    color: #fff;

}

.sidebar h5 {
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;

}

.download {
    color: #fff;
    margin-bottom: 10px;
}

.download img {
    width: 20px;
    display: inline;
}

.fa-plus {
    padding: 10px;
    background-color: grey;
    color: #000000;
    margin-right: 5px;
}

.user img {
    display: inline;
    width: 20px;

}

.user {
    color: #fff;
    margin-top: 10px;
}


/*main*/

main {
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
}

/*main-navbar*/
.main-nav ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.active::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background-color: greenyellow;
    margin: 3px auto;

}

/*music*/

h2 {
    color: #fff;
}

.gallery {
    display: flex;
    color: #fff;
    text-align: center;
    flex-wrap: wrap;
    margin: -15px;
}

.gallery li {
    margin-top: 30px;
    padding: 15px;
    flex-basis: calc(100% / 6);
}


.gallery h4 {
    margin: 10px 0;
}

.gallery h6 {
    font-size: 12px;
    opacity: 0.6;
}

/*for you*/
.for-you h5,
.popolar h5 {
    color: #fff;
    opacity: 0.6;
}

/*popolar*/
.popolar img {
    border-radius: 50%;
}



/*footer*/
footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    align-items: center;
}

.playing-song {
    flex-basis: 25%;
    display: flex;
    align-items: center;
}

.playing-song img {
    width: 60px;
    margin: 20px;

}

.song {
    color: #fff;
    margin-right: 30px;
}

/*music bar*/
.music-bar {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.player i {
    font-size: 1.5rem;
}

.player .fa-circle-play {
    font-size: 2rem;
}

.bar {
    border: 2px solid grey;
    border-radius: 30px;
    width: 400px;
}

.minute {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
}

/*audio */
.audio {
    flex-basis: 25%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.far,
.fa,
.fas {
    margin-right: 10px;
    color: #fff;
    opacity: 0.6;
}

.song span {
    color: #fff;
    opacity: 0.6;
}

.volume-bar {
    border: 2px solid grey;
    border-radius: 30px;
    width: 200px;
    margin-right: 30px;


}