* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: grey;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

/* utils*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    height: calc(100vh - 100px);
    display: flex;

}

.playlist {
    max-height: 300px;
    overflow: auto;

}

/*header*/
header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;

    height: 80px;
    margin-bottom: 30px;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    color: #fff;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 30px;
}

/*sidebar*/
.sidebar {
    background-color: #000000;
    flex-basis: 300px;
    flex-shrink: 0;
    padding-left: 30px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 0px;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;

}

.navbar img {
    display: inline;
    width: 30px;


}

.playlist ul {
    color: #fff;
}

.playlist li {
    line-height: 40px;
    font-size: 0.9rem;
    color: grey;
}

.sidebar h4 {
    margin-top: 20px;
    color: #fff;

}

.sidebar h5 {
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;

}

.download {
    color: #fff;
}

.download img {
    width: 20px;
    margin-top: 250px;
    display: inline;
}


/*main*/

main {
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
}


/*footer*/
footer {
    height: 100px;
    background-color: #282828;
}